.new-post-page {
  .image-fit {
    position: absolute;;
    width: 100%;
    max-height: 200px;
    overflow: hidden;

    &.fullscreen {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
      width: auto;
      max-height: none;
      background: rgba(0, 0, 0, 0.9);

      img {
        position: absolute;
        top: 25%;
      }
    }
  }

  .item-input.input-has-focus .item-inner {
    border-bottom-width: 0px;
    box-shadow: none;
  }
}
