<ion-header>
  <ion-toolbar secondary>
    <ion-buttons left>
      <button royal (click)="dismiss();">
        Cancelar
      </button>
    </ion-buttons>

    <ion-buttons right>
      <button royal (click)="dismiss();">
        Publicar
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content (click)="focusInput(input);">
  <ion-item no-lines>
    <ion-thumbnail item-left small>
      <img src="http://runrun.fluxit.com.ar/images/nicolas.naso"/>
    </ion-thumbnail>
    <h2>Nicolas Naso</h2>
    <p>Desarrollador</p>
  </ion-item>
  <ion-item no-lines text-wrap>
    <ion-textarea rows="5" #input placeholder="¿Que estas pensando?"></ion-textarea>
  </ion-item>

  <div class="image-fit" *ngFor="let image of base64Images">
    <img [src]="image"/>
  </div>

  <!-- <div class="image-fit" [ngClass]="{fullscreen: isActive}" (click)="isActive = !isActive" *ngIf="base64Images.length">

    <img [src]="base64Image" />
  </div> -->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons left>
      <button dark (click)="presentActionSheet()">
        <ion-icon name="camera"></ion-icon>
      </button>
      <button dark>
        <ion-icon name="happy"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
