.my-profile-page {
  .profile-header {
    position: relative;;
    background: url('http://ionicframework.com/dist/preview-app/www/img/card-saopaolo.png');

    ion-card {
      position: relative;
      top: 50px;
      margin-top: 0px;
    }
  }
}
